@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>
Enter your username or email address:<br />
<input type="text" id="txtLoginEmail" /><br />
Enter your password:<br />
<input type="password" id="txtLoginPassword" />
<br />
<br />
Don't have an account? Click here to <a href="@Url.Action("Register")">Register</a>
